:root {
  --cloud-header-color-in: linear-gradient(to bottom, #ffffffee 60%, transparent 100%);
  --cloud-header-color-out: linear-gradient(to bottom, #ffffff, #ffffff, transparent 100%);
  --navbar-color: linear-gradient(to bottom, #ffffffdd, #ffffff88, #ffffff44, transparent);
  --phone-navbar-color: rgba(122, 122, 122, 0.7);
  --main-bg: linear-gradient(to bottom right, rgb(251 215 157), #fffdc6);
  --button-color-1: lightblue;
  --button-text-color-white: white;
  --footer-bg: linear-gradient(to bottom right, rgb(255, 208, 115), #cdbe4d);
  --white-color: white;
  --black-color: black;
  --wheat-color: wheat;
}

/* Main site */
html {
  scroll-behavior: smooth;
}

html, body {
  position: relative;
  font: 400 15px/1.8 "Lato", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*----------------------------------------------------------------------------*/

/* Uni styles */
body {
  line-height: 25px;
}

/* Google Fonts */
.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
/* Google Fonts */

/* Title and Nav bar effect */
.scroll-fade-in {
  background: var(--cloud-header-color-in);
  opacity: 1;
  transition: opacity 2s ease-out;
}

.scroll-fade-out {
  background: var(--cloud-header-color-out);
  opacity: 0;
  transition: opacity 2s ease-out;
}
/* Title and Nav bar effect */

/* Full screen overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--wheat-color);
  opacity: 1;
  display: block;
  transition: opacity 1.5s ease;
}

/* Fade paragraph scroll effect */
.fade-paragraph {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
}
/* Full screen overlay */
/* Fade paragraph scroll effect */

.title-md {
  text-align: center;
  margin: 0 0 2rem;
}

.spacer {
  border-top: 1px solid var(--black-color);
  width: 70%;
}

.bold {
  font-weight: bold;
}

.blue {
  color: #5d60b9;
}
/* Uni styles */

/*----------------------------------------------------------------------------*/

/* Title and Nav bar */
#cloud-header {
  height: 3rem;
  position: fixed;
  padding: 1rem 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.nav-bar-container {
  height: 1.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: var(--navbar-color);
  padding: 1rem 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 4%;
}

.title a {
  text-decoration: none;
  color: var(--black-color);
}

.nav-bar {
  display: flex;
  margin-right: 5%;
}

.nav-bar a {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 0 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  color: var(--black-color);
}

.nav-bar a:hover {
  color: #696969;
}

.menu-btn {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 5%;
}

.menu-btn:hover {
  color: #696969;
}

.phone-menu {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 59px;
  right: 0px;
  padding: 0.5rem 1rem;
  background-color: var(--phone-navbar-color);
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s ease-in-out;
  z-index: 200;
}

.phone-menu.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.phone-menu a {
  text-decoration: none;
  color: var(--black-color);
  font-size: 1rem;
  margin: 0.2rem 0;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/*----------------------------------------------------------------------------*/

/* Parallax Img */
.img1 {
  background-image: url(images/Main-img-1.webp), url(images/Main-img-1.jpg);
  z-index: -1;
}

.img2 {
  background-image: url(images/Main-img-2.webp), url(./images/Main-img-2.jpg);
  z-index: -2;
}

.img3 {
  background-image: url(images/Main-img-3.webp), url(./images/Main-img-3.jpg);
  z-index: -3;
}

.img4 {
  background-image: url(images/aquarium-night-time-edit.webp), url(./images/aquarium-night-time-edit.jpg);
  z-index: -4;
}

.sb-img1 {
  background-image: url(images/Soundbath-placeholder.webp), url(./images/Soundbath-placeholder.png);
  z-index: -1;
}

.sb-img2 {
  background-image: url(images/SB-flowersInField.webp), url(./images/SB-flowersInField.png);
  z-index: -2;
}

.img1, .img2, .img3, .img4, .sb-img1, .sb-img2 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  min-height: 100%;
}

/*----------------------------------------------------------------------------*/

/* Home page */
/* Main Intro */
.main-section,
.sb-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px #ffdcbe;
}

.main-bg {
  background: var(--main-bg);
}

.main-padding {
  padding: 2rem;
}

/*----------------------------------------------------------------------------*/
  
.section-1-content {
  text-align: center;
  line-height: 1.6rem;
  font-size: 1.3rem;
  margin: 2rem 4rem;
}

.section-2 {
  display: flex;
  justify-content: space-evenly;
}

.main-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: 10px 10px 12px -14px;
}

.main-card h3 {
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  border-bottom: 1px solid #cbcbcb;
}

.main-card img {
  width: 100%;
}

.main-card a {
  margin-top: auto;
}

.main-card button {
  margin: 1rem 0;
  font-size: 1rem;
  border: none;
  background-color: var(--button-color-1);
  color: var(--button-text-color-white);
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.main-card p {
  margin: 0.5rem 1rem 1rem;
  text-align: center;
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3-title {
  font-size: 2rem;
}

.section-3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  text-align: center;
  padding: 0 0 0 1rem;
}

.section-3 img {
  width: 40%;
}

.section-3-content p {
  margin: 0 3rem;
}

.section-4 {
  text-align: center;
  display: flex;
}

.section-4-content p {
  margin: 0 4rem 0 2rem;
}

.section-4 img {
  width: 40%;
}

.section-4 button {
  border: none;
  background-color: var(--button-color-1);
  color: var(--button-text-color-white);
  padding: 1rem;
  border-radius: 7px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 1rem;
}

.section-5 {
  text-align: center;
  position: relative;
}

.section-5 img {
  width: 100%;
}

.section-5-text-overlay {
  position: fixed;
  top: 10%;
  background-color: transparent;
  color: var(--white-color);
  font-size: 30px;
  font-weight: 300;
  padding: 6rem 2rem;
  line-height: 2.5rem;
}

/*----------------------------------------------------------------------------*/

/* Sound Baths page */
/* Tree Video */
.sb-caption {
  width: 50%;
  margin: 15rem 0 0;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--wheat-color);
  border-radius: 20px;
}

.sb-section-1 {
  margin: 0;
  text-align: center;
  font-size: 1.1rem;
}

/*----------------------------------------------------------------------------*/

/* Footer */
.footer {
  text-align: center;
  background: var(--footer-bg);
}

.contact-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20% 10%;
}

/*----------------------------------------------------------------------------*/

/* media queries */
@media (forced-colors: active) {
  * {
    forced-color-adjust: none;
  }
}

@media (max-width: 768px) {
  .nav-bar-container {
    height: 2rem;
  }

  .nav-bar {
    display: none;
  }

  .menu-btn {
    display: block;
    
  }

  .main-section p {
    font-size: 1.1rem;
    line-height: 1.2rem;
    margin: 2rem 1rem 0;
  }

  .section-2 {
    flex-direction: column;
    align-items: center;
  }

  .section-2 div {
    width: 90%;
    margin-bottom: 2rem;
  }

  .section-3-title {
    padding: 0 1rem 1rem;
    margin: 0;
    font-size: 150%;
    
  }

  .section-3-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .section-3-content img {
    margin-bottom: 2rem;
    box-shadow: 8px 8px 15px -10px;
  }

  .section-3-content p {
    margin: 0;
    text-align: center;
  }

  .section-4 {
    flex-direction: column-reverse;
  }

  .section-4-content p {
    margin: 2rem 0 1rem;
  }

  .section-4 img {
    width: 100%;
  }

  .section-5-text-overlay {
    top: 54%;
    left: 0%;
    transform: translate(0%, -50%);
    font-size: 16px;
    line-height: 1.8rem;
  }

  /* Soundbath page */
  .fixed-BG img {
    right: -10rem;
  }
}

@media (max-width: 425px) {
  .section-3-title {
    font-size: 130%;
    padding: 0 1rem 0rem;
  }

  .section-3-content p {
    font-size: 88%;
  }

  .section-3 img {
    min-height: 14rem;
  }

  .section-5-text-overlay {
    top: 54%;
    left: -12%;
    transform: translate(5%, -50%);
    font-size: 16px;
    line-height: 1.5rem;
  }
}