/* Main site */
html {
  scroll-behavior: smooth;
}

html, body {
  position: relative;
  font: 400 15px/1.8 "Lato", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Title and Nav bar */
#cloud-header {
  height: 3rem;
  position: fixed;
  padding: 1rem 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.nav-bar-container {
  height: 1.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: linear-gradient(to bottom, #ffffffdd, #ffffff88, #ffffff44, transparent);
  padding: 1rem 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 4%;
}

.title a {
  text-decoration: none;
  color: black;
}

.nav-bar {
  display: flex;
  margin-right: 5%;
}

.nav-bar a {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 0 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  color: black;
}

.nav-bar a:hover {
  color: #696969;
}

.menu-btn {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 5%;
}

.menu-btn:hover {
  color: #696969;
}

.phone-menu {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 59px;
  right: 0px;
  padding: 0.5rem 1rem;
  background-color: rgba(122, 122, 122, 0.7);
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s ease-in-out;
  z-index: 200;
}

.phone-menu.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.phone-menu a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin: 0.2rem 0;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Parallax Img */
.img1 {
  background-image: url(images/Main-img-1.jpg);
  z-index: -1;
}

.img2 {
  background-image: url(./images/Main-img-2.jpg);
  z-index: -2;
}

.img3 {
  background-image: url(./images/Main-img-3.jpg);
  z-index: -3;
}

.img4 {
  background-image: url(./images/aquarium-night-time-edit.jpg);
  z-index: -4;
}

.img1, .img2, .img3, .img4 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  min-height: 100%;
}

.home-text-img {
  width: 50%;
  max-height: 100vh;
}

/* Home page */
/* Main Intro */
.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px #ffdcbe;
}

.main-bg {
  background: linear-gradient(to bottom right, rgb(251 215 157), #fffdc6);
}

.main-padding {
  padding: 2rem;
}
  
.section-1-content {
  text-align: center;
  line-height: 1.6rem;
  font-size: 1.3rem;
  margin: 2rem 4rem;
}

.section-2 {
  display: flex;
  justify-content: space-evenly;
}

.main-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 12px -14px;
}

.main-card h3 {
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  border-bottom: 1px solid #cbcbcb;
}

.main-card img {
  width: 100%;
}

.main-card a {
  margin-top: auto;
}

.main-card button {
  margin: 1rem 0;
  font-size: 1rem;
  border: none;
  background-color: lightblue;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.main-card p {
  margin: 0.5rem 1rem 1rem;
  text-align: center;
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3-title {
  font-size: 2rem;
}

.section-3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  text-align: center;
}

.section-3 img {
  width: 40%;
  box-shadow: 10px 15px 20px -10px;
}

.section-3-content p {
  margin: 0 3rem;
}

.section-4 {
  text-align: center;
  display: flex;
}

.section-4-content p {
  margin: 0 4rem 0 2rem;
}

.section-4 img {
  width: 40%;
}

.section-4 button {
  border: none;
  background-color: lightblue;
  padding: 1rem;
  border-radius: 7px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 1rem;
}

.section-5 {
  text-align: center;
  position: relative;
}

.section-5 img {
  width: 100%;
}

.section-5-text-overlay {
  position: fixed;
  top: 10%;
  background-color: transparent;
  color: white;
  font-size: 30px;
  font-weight: 300;
  padding: 6rem 2rem;
  line-height: 2.5rem;
}

/* Sound Baths page */
/* Tree Video */
.fixed-BG {
  position: relative;
  display: flex;
  justify-content: center;
}

.fixed-BG img {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.sb-caption {
  width: 50%;
  margin: 15rem 0 0;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: wheat;
  border-radius: 20px;
}

.footer {
  text-align: center;
  background: linear-gradient(to bottom right, rgb(255, 208, 115), #cdbe4d);
}