.scroll-fade-in {
  background-color: #e1df8f;
  transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

.scroll-fade-out {
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.title-md {
  text-align: center;
  margin: 0 0 2rem;
}