body {
  line-height: 25px;
}

/* Google Fonts */
.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
/* Google Fonts */

/* Title and Nav bar effect */
.scroll-fade-in {
  background: linear-gradient(to bottom, #ffffffee 60%, transparent 100%);
  opacity: 1;
  transition: opacity 2s ease-out;
}

.scroll-fade-out {
  background: linear-gradient(to bottom, #ffffff, #ffffff, transparent 100%);
  opacity: 0;
  transition: opacity 2s ease-out;
}
/* Title and Nav bar effect */

/* Full screen overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: wheat;
  opacity: 1;
  display: block;
  transition: opacity 1.5s ease;
}

/* Fade paragraph scroll effect */
.fade-paragraph {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
}
/* Full screen overlay */
/* Fade paragraph scroll effect */

.title-md {
  text-align: center;
  margin: 0 0 2rem;
}

.spacer {
  border-top: 1px solid black;
  width: 70%;
}

.bold {
  font-weight: bold;
}

.blue {
  color: #5d60b9;
}