.scroll-fade-in {
  background: linear-gradient(to bottom, #ffffff, #ffffff, transparent 100%);
  transition: background-color 1s ease-in, color 1s ease-in;
}

.scroll-fade-out {
  transition: background-color 1s ease-out, color 1s ease-out;
}

.title-md {
  text-align: center;
  margin: 0 0 2rem;
}

.spacer {
  border-top: 1px solid black;
  width: 70%;
}